.tabs{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-content {
  margin-top: 1rem;
}

.tab-registers {
  display: flex; /* aligne les boutons en ligne */
  gap: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.tab-registers button {
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button.active-tab{
  color:black;
  background-color: white;
}

.column.main-block p.main_text {
  font-size: 22px !important;
}

.main_text a {
  display: inline;  
  color: #3273dc;   
  text-decoration: underline; 
}

.contact-block p {
  text-align: left;  
}

.contact-block p a {
  display: block;     
  text-align: left;  
  margin-bottom: 0.3em; 
  color: #F7F2F2;     
  text-decoration: none; 
}

.contact-block p a:hover {
  color: #3273dc;
}

.main-block {
  max-width: 90%;       
  overflow-wrap: break-word; 
  word-wrap: break-word;     
  white-space: normal;
  margin-top: 2em;
  margin-right: 4em;

}

.main-block ul.vertical-list {
  list-style: disc;     
  padding-left: 1.5rem;
  display: block;       
}
.main-block ul.vertical-list li {
  display: list-item;  
  margin-bottom: 0.5rem; 
}

.cv-title {
  margin-top: 6rem; 
}        

.article-spacing {
  display: block !important;
  margin-bottom: 2rem !important;
}

.article-list li .columns {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.article-list,
.article-list * {
  text-align: left !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: stretch !important;
  justify-content: flex-start !important;
  width: 100%;
}

.article-list > li {
  width: 100% !important;
  display: block !important;
  text-align: left !important;
}

.article-list .columns {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  width: 100% !important;
}

.article-list figure.image {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  text-align: left !important;
}