.classic_p {
    max-width: 90%;       
    overflow-wrap: break-word; 
    word-wrap: break-word;     
    white-space: normal;
    margin-top: 0.5em;
    margin-right: 4em;
}

.img_art {
    max-height: 1000px; 
    max-width: 1000px;  
    width: 100%;        
    height: auto;       
    display: block;     
    margin: 0 auto;     
}

.img_art_little {
    max-height: 400px; 
    max-width: 400px;  
    width: 100%;        
    height: auto;       
    display: block;     
    margin: 0 auto;     
}

.ml-5.custom-list {
    list-style-type: disc !important;
}

figure, figcaption {
  text-align: center;
}

.bib-text li {
    font-size: 0.85rem;
}

.civ-content {
  text-align: justify;
}